* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", Arial, sans-serif;
    color: orange;
    background-color: #000;
}
a, a:hover, a:visited, a:active { 
    color: orange;
    text-decoration: none;
}

/* Animation */

@keyframes hello {
    0% {background-color: #222; box-shadow: 0 0 5px 5px #222; color: orange;}
    50% {background-color: orange; box-shadow: 0 0 5px 5px orange; color: #111;}
    100% {background-color: #222; box-shadow: 0 0 5px 5px #222; color: orange;}
}

/*borders:*/
/* header, nav, article, aside {
    border: solid 5px teal;
    padding: 10px;
}
main {
    border: solid 5px hotpink;
    padding: 10px;
} */
/*borders end*/

/* base properties */
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}

body {
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    /* body tag is a grid */
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% auto 7%;
    background-image: url("image_assets/backgrounds/back_100.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

aside {
    background-color: #111;
    grid-column-start: 0;
    grid-row-start: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px;
    padding-left: 5px;
    background-image: url("image_assets/backgrounds/back_101.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
}

header {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    background: #111;
    box-shadow: 0 0 5px 5px #111;
    position: sticky;
    top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: orange;
    font-weight: bold;
}

main {
    background: #111;
    box-shadow: 0 0 5px 5px #111;
    background-image: url("image_assets/backgrounds/back_102.png");
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: auto;
    z-index: 3;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Page Navigation */
#navbar h1 {
    margin-left: 15px;
}

#navbar a {
    color: orange;
    font-weight: bold;
    background-color: #222;
    box-shadow: 0 0 5px 5px #222;
    padding: 10px;
    margin-left: 20px;
    font-size: 1em;
    width: auto;
    height: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: .75s;
    text-align: center;
}

#navbar .selected {
    background-color: orange;
    box-shadow: 0 0 5px 5px orange;
    color: #222;
    font-weight: bold;
}

#navbar a:hover {
    color: #222;
    background-color: orange;
    box-shadow: 0 0 5px 5px orange;
    font-weight: bold;
    cursor: pointer;
    transition: .75s;
}

/* Header */

#name { 
    font-size: 1.5em;
    margin-right: 30px;
}

/* Main Section */

#main-section-four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    scroll-behavior: smooth;
}

#main-section-four section {
    color: orange;
    background-color: #222;
    box-shadow: 0 0 5px 5px #222;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#hoverable-section {
    transition: .75s;
    z-index: 50;
    /* Hello Animation */
    animation-name: hello;
    animation-duration: 1.5s;
    /* Hello Animation */
}

#hoverable-section:hover {
    color: #222;
    background-color: orange;
    box-shadow: 0 0 5px 5px orange;
    cursor: pointer;
    transition: .75s;
    z-index: 50;
}

#main-section-four section h1 {
    margin-bottom: 10px;
}

#main-section-four section img {
    margin-bottom: 10px;
    width: 100%;
    height: 100%; 
    object-fit: contain;
    opacity: 70%;
    transition: .75s;
}

#main-section-four section:hover img {
    opacity: 100%;
    transition: .75s;
}

/* box styles */

.smallestbox {
    width: 10%;
}
.smallerbox {
    width: 20%;
}
.largerbox {
    width: 40%;
}
.largestbox {
    width: 100%;
}
.linebreak {
    width: 100%;
    opacity: 0;
}
.verticalbreak {
    width: 20px;
    opacity: 0;
}
.imagebox {
    width: 20%;
}

/* footer */

footer {
    background: #111;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow-y: auto;
    z-index: 3;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("image_assets/backgrounds/back_103.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: orange;
    font-weight: bold;
    overflow: hidden;
}

footer a {
    color: orange;
    background-color: #222;
    box-shadow: 0 0 5px 5px #222;
    padding: 10px;
    margin-left: 20px;
    font-size: 1em;
    width: auto;
    height: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: .75s;
}

footer .selected {
    background-color: orange;
    box-shadow: 0 0 5px 5px orange;
    color: #222;
    font-weight: bold;  
}

footer a:hover {
    color: #222;
    background-color: orange;
    box-shadow: 0 0 5px 5px orange;
    font-weight: bolder;
    cursor: pointer;
    transition: .75s;
}
/* popups */


#popup-section {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .7);
}

#popup-section div{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10vh;
}

#popup-section div h1{
    color: orange;
    background-color: #111;
    box-shadow: 0 0 20px 5px #111;
    margin-bottom: 20px;
    font-size: 2em;
}

#popup-section div h2{
    width: 60vw;
    color: orange;
    padding: 2px 7px;
    background-color: #111;
    box-shadow: 0 0 20px 5px #111;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 1em;
}

#popup-section div p{
    color: orange;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #222;
    box-shadow: 0 0 5px 5px #222;
    font-size: 1.1em;
    font-weight: bold;
    transition: .75s;
            /* Hello Animation */
            animation-name: hello;
            animation-duration: 1.5s;
            /* Hello Animation */
}

#popup-section div p:hover{
    color: #111;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: orange;
    box-shadow: 0 0 5px 5px orange;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: .75s;
}

#popup-section div iframe{
    height: 90vh;
    width: 118vh;
    box-shadow: 0 0 30px 20px #111;
    transition: .75s;
}

#popup-section div iframe:hover {
    height: 90vh;
    width: 118vh;
    box-shadow: 0 0 30px 5px orange;
    transition: .75s;
}

#popup-section div img{
    height: 70vh;
}

.hide {
    display: none !important;
}
.show {
    display: flex !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }  
  ::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
    margin: 20px;
  }

/* Responsive Stuff */

@media (max-width: 1200px) {
    .smallestbox {
        width: 10%;
    }
    .smallerbox {
        width: 70%;
    }
    .largerbox {
        width: 100%;
    }
    .largestbox {
        width: 100%;
    }
    .imagebox {
        width: 40%;
    }

  }

  @media (max-width: 980px) {
    .smallestbox {
        width: 10%;
    }
    .smallerbox {
        width: 70%;
    }
    .largerbox {
        width: 100%;
    }
    .largestbox {
        width: 100%;
    }
    .imagebox {
        width: 80%;
    }

    aside {
        flex-direction: row;
        flex-wrap: wrap;
    }

    body {
        grid-template-columns: 40% auto;
        grid-template-rows: 20% auto 7%;
    }

    header {
        font-size: 3em;
    }
    
    #navbar a {
        height: 50%;
        width: 25%;
        margin-bottom: 20px;
        font-size: 2em;
    }

    #popup-section div iframe{
        height: 30vh;
        width: 90vw;
    }

    footer a {
        font-size: 2em;
    }
  }


